<aside class="left-side-menu">
    <div class="top-side user-info">
        <div class="profile-img"></div>
        <span class="user-name"><%= @current_user.full_name %></span>
    </div>
    <div class="top-side">
        <div class="follow">
            <p class="amount-of-follows">100</p>
            <p>following</p>
        </div>
        <div class="follow">
            <p class="amount-of-follows">200</p>
            <p>followers</p>
        </div>
    </div>
    <div class="bottom-side">
        <ul>
            <li>
                Home
            </li>
            <li>
                Profile
            </li>
        </ul>
    </div>
</aside>
<header class="main-header">
    <span>Logo</span>
    <%= button_to  "Log out", logout_path, method: :delete, class: "log-out" %>
</header>
<div class="main-content">
    <div>
        tweets
    </div>
    <div>
        who to follow
    </div>
</div>